*{margin: 0;}
body{
    font-family: 'Poppins', sans-serif;
}
.flex{
    display: flex;
}
.nav-bar{
    height: 60px;
    width: 100%;
   background: rgb(255,143,45);
background: linear-gradient(90deg, rgba(255,143,45,0.8127626050420168) 0%, rgba(255,189,32,0.8239670868347339) 40%, rgba(255,72,0,0.7315301120448179) 100%);
}
.nav-bar ul {
    padding: 10px 10px 0% 10px;
}
.nav-bar ul li{
display: inline-block;
font-size: 20px;
margin:5 px 10px 0 10px;
padding: 5px 40px 10px 40px;
}
.nav-bar ul li a{
    text-decoration: none;
   color: white;
   border: 1px solid;
   border-radius: 4px;
   padding: 5px;
}
.nav-bar ul li a:hover{
    background-color: white;
    color: black; 
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
    padding-left: 5px;
}
.half-width h1{
    font-size: 40px;
}
.skip-diet-text{
    margin: 10% 0 0 2%;
    padding-left: 5%;
}
.link-button{
    background:linear-gradient(white,red);
    text-decoration: none;
    color: white;
    padding: 14px 29px 14px 29px;
    margin-left: 5px;
    border-radius: 30px;
}
